@import "tailwindcss";

@theme inline {
  --color-black: #000000;
  --color-white: #ffffff;
  --color-light-silver: #d9d9d9;
  --font-montserrat: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

body {
  font-family: "Montserrat", sans-serif;
}
